@{
    ViewData["Title"] = "Contact & About";
}

<div>
        <div id="bg3" class="col-md-12 col-sm-12 col-12"">
            <div  class="centered">
                <header id="ind">Contact</header>
                <p id="endtext">This is the page for the contact information of this website</p>
            </div>
        </div>

        <div id="endtext" class="col-md-12centered col-sm-12 col-12">
            Phone Number:0468 548 969 <br/>
            Emailed: WDPAssignment@gmail.com<br />
            Student No:u3173658<br />
            Name: Ayden Smith<br />

        </div>
</div>